
* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: segoe ui;
  font-size: 100%;
  height:50px;
}

/* ****************************************************
                        CONTENEDOR
******************************************************/
.container {
z-index:10;
  background: url("https://subtlepatterns.com/patterns/ricepaper.png");
  min-height:50px;
  overflow: auto;
}

/* ENLACES */
a {
z-index:10;
  color: WHITE;
  cursor: pointer;
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: background-color .16s ease-in;
}

a:hover {
z-index:10;
  
}

/* **************************************************
        BARRA DE NAVEGACION Y MENU NORMAL
****************************************************/
/* Barra de navegacion (contiene al nav mini menu) */
.navbar-menu {
z-index:10;
  background-color: #404040;
  margin: 0% auto;
  max-width:1100px;
  width: calc(100%);
}

/* Menu */
.navbar-menu .menu {
z-index:10;
  display: block;
  text-align: center;
}

/* List items*/
.navbar-menu .menu li {
z-index:10;
  display: inline-block;
}

/* Cuando se haga hover sobre el item el submenu se activa
 en caso tuviese */
.navbar-menu .menu li:hover > .submenu {
z-index:10;
  display: block;
  -webkit-animation-name: showSubMenu;
  -webkit-animation-duration: .4s;
}

/* Submenus*/
.navbar-menu .menu li ul {
z-index:10;
  background-color: #66757F;
  display: none;
  position: absolute;
}

/* List items de submenus */
.navbar-menu .menu li ul li {
  display: block;
}

.navbar-menu .menu li ul li a:active {
  -webkit-animation-name: hideSubMenu;
  -webkit-animation-duration: .4s;
}

/******************************************************
                        MINI MENU
******************************************************/
/* Mini menu */
.navbar-mini-menu {
z-index:10;
  background-color: #f08080;
  display: none;
}

/* Bloque que tiene el boton para desplegar el mini menu */
.navbar-mini-menu .menu-select {
z-index:10;
  color: #fff;
  padding: 1rem 1.5rem;
}

/* Span que contiene el icono*/
.navbar-mini-menu .menu-select .btn-select {
z-index:10;
  background: url("https://imgur.com/VbcTojM.png") no-repeat;
  cursor: pointer;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  top: 10px;
}

/* Lista del mini menu */
.navbar-mini-menu .mini-menu-options {

  display: block;
}

/* Items del mini menu */
.navbar-mini-menu .mini-menu-options li {
z-index:10;
  display: block;
}

/* Submenus de los items del mini menu */
.navbar-mini-menu .mini-menu-options li .submenu {
z-index:10;
  display: none;
}

.navbar-mini-menu .mini-menu-options li:focus {
z_index:10;
  outline: 0;
}

.navbar-mini-menu .mini-menu-options li:focus > .submenu {
z-index:10;
  display: block;
  -webkit-animation-name: showSubMenu;
  -webkit-animation-duration: .4s;
}

/* Enlaces del mini menu */
.navbar-mini-menu .mini-menu-options li a {
z-index:10;
  display: block;
  padding: 1rem 1.5rem;
}

/* ***************************************************
                      ANIMACIONES
*****************************************************/
@-webkit-keyframes showSubMenu {
    0% {
      transform: scale(0,0);
    }
  100% {
    transform: scale(1,1);
  }
}

@-webkit-keyframes hideSubMenu {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(0,0);
  }
}

/*****************************************************                       MEDIAQUERIES
*****************************************************/
@media screen and (max-width: 750px) {
  /* Elimina los margenes al nav */
  .navbar-menu {
    margin: 0;
  }
  
  /* Esconde el menu normal */
  .navbar-menu .menu {
    display: none;
  }
  
  /* Muestra el mini menu */
  .navbar-mini-menu {
    display: block;
  }
  
  /* Esconde la lista del mini menu */
  .navbar-mini-menu .mini-menu-options {
    display: none;
  }
  
}
table{
display:block;
margin-left:auto;
margin-right:auto;
}



