.container{
	padding:2px;
    color: #fff;
    font-size: 20px;
    margin: 0;
    line-height:20px;
    margin-top: 0px;
}
.startTyper{
    color: 000080;
    display: inline-block;
}
#typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    20% { opacity:0; }
    20% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    20% { opacity:0; }
    20% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    20% { opacity:0; }
    20% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    20% { opacity:0; }
    20% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    20% { opacity:0; }
    20% { opacity:1; }
}
